.active-review-button {
    background-color: '#86937F';
    box-shadow: 'none';
    border-radius: '.313rem';
}

.review-button {
    background-color: '#D4D4D4';
    color: "#86937F";
    border-radius: '.313rem';
    box-shadow: 'none';
}